.entries {
  margin-bottom: rem-calc(30);

  &--related {
    padding: rem-calc(30 0 0);
    > h2 {
      @include sub-section-title
    }
  }
}


.entry {

  &__title {
    font-size: map_get($headers, h2);
    line-height: 1.1;
    margin-bottom: rem-calc(10);

    > a {
      @include not-a-text-link;
    }
  }

  @import "blog/meta";
  @import "blog/thumbnail";

  &__content {
    @include clearfix;

    .read-more {
      margin-top: rem-calc(40);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &--preview {
    margin-bottom: rem-calc(60);
    padding: rem-calc(0 0 30);

    .entry__content {
      color: color(grey, dark);
    }
  }

  &--related {
    .entry__title {
      font-size: rem-calc(16);
      letter-spacing: 0;
    }
  }

  &__footer {
    padding-top: rem-calc(20);
    border-bottom: 1px solid color(grey, lighter);
  }

  &__author {
    padding: rem-calc(30 0 );
    border-bottom: 1px solid color(grey, lighter);
  }
}

.author {


  &__title {
    font-size: rem-calc(20);
    letter-spacing: rem-calc(1);
    font-weight: $font-weight-normal;
    line-height: 1;
    margin-top: 0;

    > span {
      color: color(grey);
    }
  }

  &__avatar {
    display: block;
    overflow: hidden;
    width: rem-calc(100);
    height: rem-calc(100);
    @include border-radius(50%);
    border: 2px solid color(grey, light);
  }

  &__description {
    @include respect-the-padding;
  }
}