.page-header {
  height: rem-calc(200);
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: rem-calc(60);
  background: color(grey, dark);
  color: color(white);

  .container {
    position: relative;
    z-index: 3;

    &, & > .row {
      min-height: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: rem-calc(42);
    text-transform: uppercase;
  }

  &__sub-title {
    font-size: map_get($headers, h3);
    margin-bottom: 0;
    letter-spacing: rem-calc(1);
  }

  &--has-sub-title {
    .page-header__title {
      line-height: 1;
      margin-bottom: rem-calc(10);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(color(black), 0.1);
    z-index: 2;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;

    @each $halign in left, center, right {
      &--horz-#{$halign} {
        background-position-x: $halign;
      }
    }

    @each $valign in top, center, bottom {
      &--vert-#{$valign} {
        background-position-y: $valign;
      }
    }
  }

  &--parallax {
    .page-header__image {
      background-attachment: fixed;
    }
  }
}