.ui-kit {
  &__heading {
    //background: color(black);
    text-align: center;
    //color: color(white);
    padding: rem-calc(10 0);
    margin-bottom: rem-calc(40);
    font-weight: 100;
    letter-spacing: rem-calc(5);
    text-transform: uppercase;
    font-size: rem-calc(30);
  }

  &__sub-heading {

    overflow: hidden;
    text-transform: uppercase;
    font-size: rem-calc(14);
    padding: rem-calc(30 0);

    span {
      display: inline-block;
      position: relative;

      &:after {
        content: " ";
        display: block;
        height: 0;
        width: rem-calc(30000);
        border-top: 1px solid color(grey, light);
        position: absolute;
        top: 50%;
        left: calc(100% + #{rem-calc(20)});
      }
    }
  }

  &__label {
    padding-top: rem-calc(5);
    display: inline-block;
  }

  &__row {
    margin-bottom: rem-calc(30);
  }
}