@import "../util/util";
@import "../admin-settings";
@import "../mixins";

.wrap .redux-container,
.mazloy-quick-metabox {
  @import "base/buttons";
}

.wrap .redux-container {
  background: color(grey, dark);
  border: none;

  .redux-main {
    background: color(white);
    margin-left: $sidebar-width;

    @import "options/components/fields";
  }

  @import "options/components/sticky";
  @import "options/components/header";
  @import "options/components/sidebar";
}

@import "metaboxes/metabox";
