
@mixin button($type: '.button', $color: color(grey, lighter)) {
  @include prefix((
    box-shadow: 0 1px 2px -1px rgba(color(black), 0.2),
    border-radius: $input-border-radius
  ));

  border: none;
  padding: .5em 1.2em;
  height: auto;
  min-height: $input-height;
  text-shadow: none;
  margin: 0;
  background: $color;
  text-transform: uppercase;

  @if lightness($color) > 70% {
    color: rgba(color(black), 0.8)
  }
  @else {
    color: rgba(color(white), 0.95)
  }

  &:hover {
    background: scale_color($color, $lightness: 5%);
    @include box-shadow(0 1px 2px -1px rgba(color(black), 0.4));
  }

  &:disabled,
  &[disabled],
  &.disabled {
    $disabled-color: scale_color($color, $lightness: -14%);
    @if lightness($color) > 70% {
      $disabled-color: scale_color($color, $lightness: -7%);
    }

    background: $disabled-color !important;
    text-shadow: none !important;

    @if lightness($disabled-color) > 70% {
      color: rgba(color(black), 0.3) !important;
    }
    @else {
      color: rgba(color(white), 0.5) !important;
    }
  }

  & + .button,
  & + .button-secondary,
  & + .button-primary {
    margin-left: rem-calc(6);
  }
}

.button {
  @include button;
}

.button-primary {
  @include button('.button-primary', color(primary));
}

.button-secondary {
  @include button('.button-secondary');
}

.button,
.button-primary,
.button-secondary {
  .dashicons {
    margin-right: rem-calc(6);
    position: relative;
    top: rem-calc(1);
  }
}

.button-options {
  .button {
    border-radius: 0;
    min-width: rem-calc(90);
    text-align: center;
    z-index: 1;

    &:hover {
      position: relative;
      z-index: 2;
    }

    & + .button,
    & + .button-primary {
      margin-left: rem-calc(3);
    }

    input[type="radio"],
    input[type="radio"] {
      display: none;
    }

    &-first {
      @include border-radius($input-border-radius 0 0 $input-border-radius);
    }

    &-last {
      @include border-radius(0 $input-border-radius $input-border-radius 0);
    }
  }
}