@mixin _button_size($font-size: rem-calc(16)) {
  font-size: $font-size;
  padding: ($font-size * .65) ($font-size * .93);
}

@mixin _button_base {
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  @include transition(all .1s ease-in-out);
  @include _button_size;
}

@mixin _button_style(
  $background-color: color(primary),
  $text-color: color(white),
  $border-color: transparent,
  $background-hover-color: scale_color(color(primary), $lightness: -5%),
  $text-hover-color: color(white),
  $background-active-color: scale_color(color(primary), $lightness: -15%),
  $text-active-color: color(white)
) {
  background: $background-color;
  color: $text-color;
  border: 1px solid $border-color;

  @include hover-state {
    color: $text-hover-color;
    background: $background-hover-color;
  }

  @include active-state {
    color: $text-active-color;
    background: $background-active-color;
  }
}

@mixin _button_animation_outline_out(
  $border-color: color(primary)
) {
  position: relative;

  &:after {
    content: " ";
    display: block;
    border: 1px solid $border-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    @include transition(all .1s linear);
  }

  @include hover-state {
    &:after {
      top: rem-calc(-6);
      right: rem-calc(-6);
      bottom: rem-calc(-6);
      left: rem-calc(-6);
      opacity: 1;
    }
  }

  @include active-state {
    &:after {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
    }
  }
}

button,
.button {
  @include _button_base;
  @include _button_style;
  @include _button_animation_outline_out;
}

.button--secondary {
  @include _button_style(
    $background-color: color(secondary),
    $text-color: color(white),
    $border-color: transparent,
    $background-hover-color: scale_color(color(secondary), $lightness: -5%),
    $text-hover-color: color(white),
    $background-active-color: scale_color(color(secondary), $lightness: -15%),
    $text-active-color: color(white)
  );
  @include _button_animation_outline_out(color(secondary));
}

.button--outline {
    @include _button_style(
            $background-color: color(white),
            $text-color: color(primary),
            $border-color: color(primary),
            $background-hover-color: color(white),
            $text-hover-color: color(primary),
            $background-active-color: scale_color(color(primary), $lightness: 65%),
            $text-active-color: color(primary)
    );
}

.button--outline.button--secondary {
  @include _button_style(
          $background-color: color(white),
          $text-color: color(secondary),
          $border-color: color(secondary),
          $background-hover-color: color(white),
          $text-hover-color: color(secondary),
          $background-active-color: scale_color(color(secondary), $lightness: 65%),
          $text-active-color: color(secondary)
  )
}

$button_sizes: (
        tiny: rem-calc(11),
        small: rem-calc(13),
        medium: rem-calc(16),
        large: rem-calc(18),
        xlarge: rem-calc(22)
);

@each $name, $size in $button_sizes {
  .button--#{$name} {
    @include _button_size($size);
  }
}

.button--share {
  padding: rem-calc(0 8 0 36);
  line-height: rem-calc(28);
  height: rem-calc(28);
  background: color(white);
  border: 1px solid color(grey, light);
  font-size: rem-calc(12);
  color: color(grey, medium);
  text-transform: none;
  letter-spacing: 0;
  position: relative;

  &:after {
    display: none;
  }

  .icon {
    position: absolute;
    top: rem-calc(4);
    left: 0;
    font-size: rem-calc(16);
    line-height: rem-calc(18);
    width: rem-calc(28);
    text-align: center;
    border-right: 1px solid color(grey, light);
  }

  @include hover-state {
    background: color(grey);
    color: color(white);
    border-color: color(grey);

    .icon {
      border-right-color: color(grey, medium);
    }
  }
}