label {
  display: block;
  color: color(grey);
  letter-spacing: rem-calc(.5);

  @include hover-state(false) {
    color: color(grey, dark);
  }

  @include focus-state {
    color: color(primary);
  }
}

input[type="text"],
input[type="url"],
input[type="password"] {
  display: inline-block;
  border: 1px solid color(grey, light);
  line-height: 1;
  padding: rem-calc(10 16);
  min-width: rem-calc(255);
  outline: none;

  @include hover-state(false) {
    border-color: color(grey, dark)
  }

  @include focus-state {
    border-color: color(primary)
  }
}