select {
  height: rem-calc(45);
  border: 1px solid color(grey, light);
  background: color(white);
  line-height: 1;
  padding: rem-calc(8 16);
  outline: none;
  min-width: rem-calc(255);

  @include hover-state(false) {
    border-color: color(grey);
  }

  @include focus-state {
    border-color: color(primary);
  }
}