h1, h2, h3 {
  font-weight: 300;
}

h1 {
  letter-spacing: rem-calc(2.4);
  font-weight: 100;
}

h2 {
  letter-spacing: rem-calc(1.5);
}

h3 {
  letter-spacing: rem-calc(1);
}

h4 {
  text-transform: uppercase;
  color: color(grey, dark);
}

.sub-section-title {
  @include sub-section-title;
}

p {
  margin: rem-calc(0 0 16);
  line-height: 1.5;
}

.content-main {
  //a {
  //  border-bottom: 1px solid transparent;
  //  @include hover-state {
  //    border-bottom-style: dotted;
  //    border-bottom-color: $anchor-color-hover;
  //    color: $anchor-color-hover;
  //  }
  //
  //  @include active-state {
  //    border-bottom-style: solid;
  //    border-bottom-color: $anchor-color;
  //    color: $anchor-color-active;
  //  }
  //}
}

@each $align in center, left, right {
  .text-align-#{$align},
  .text-#{$align} {
    text-align: $align;
  }
}

address {
  font-style: normal;
  margin-bottom: rem-calc(16);
}

kbd,
code,
tt,
pre {
  font-weight: $font-weight-normal;
}

kbd,
tt,
code {
  display: inline-block;
  font-size: rem-calc(12);
  background: color(grey, lighter);
  padding: rem-calc(0 3);
  color: color(grey, dark);
}

pre {
  background: color(black);
  @include border-radius(rem-calc(4));
  padding: rem-calc(16);
  color: color(grey, lighter);
  @include respect-the-padding;
  font-size: rem-calc(13);
}

strike,
s,
del {
  text-decoration: line-through;
  color: color(grey, medium);
}

hr {
  height: 0;
  width: 100%;
  border: none;
  border-top: 1px solid color(grey, lighter);
  margin: rem-calc(40 0);
}

blockquote {
  @include border-radius;
  background: color(grey, lightest);
  padding: rem-calc(30 50);
  margin: rem-calc(30) auto rem-calc(60);
  max-width: $grid-max-width - rem-calc(100);
  color: color(grey);

  @include respect-the-padding;
}

q {
  @include border-radius;
  background: color(grey, lightest);
  padding: rem-calc(8 16);
  display: inline-block;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: rem-calc(8);
  margin-bottom: rem-calc(10);
}

dl {
  margin-bottom: rem-calc(16);

  dt {
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    font-size: rem-calc(14);
  }

  dd {
    margin: rem-calc(0 0 10 0);
    color: color(grey);
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}