$theme-name: 'mazloy' !default;

@function animation-name($name) {
  @return #{$theme-name + "__" + $name};
}

@mixin keyframes($animationName) {
  $animationName : animation-name($animationName);
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  @include prefix((animation: $animations));
}

@import "animations/loaders";