$theme-asset-base: '..' !default;

// Asset URL builder
@function asset($type, $file) {
  @return url($theme-asset-base + '/' + $type + '/' + $file);
}

// Image asset helper
@function image($file) {
  @return asset('images', $file);
}

// Font asset helper
@function font($file) {
  @return asset('fonts', $file);
}

@function svg($file) {
  @return asset('images/svg', $file);
}