$breakpoints : (
        xsmall  : 0,      // All mobile
        small   : 321px,  // Larger phones
        medium  : 640px,  // iPad Portrait or iPad Mini
        large   : 1024px, // iPad landscape or 15" monitors +
        xlarge  : 1200px, // Larger laptops
        xxlarge : 1440px  // Large or HD screens
) !default;

@function -bp-to-em($value) {
  @if unit($value) == 'px' or unitless($value) {
    $value: rem-calc($value, 16px);
  }

  @return strip-unit($value) * 1em;
}

@function breakpoint($breakpoint: small) {
  // size or keyword: small only
  $bp: nth($breakpoint, 1);
  $bp-max: 0;

  // Direction of media query (up, down, or only)
  $dir: if(length($breakpoint) > 1, nth($breakpoint, 2), up);
  $output: '';
  $named-query: false;

  @if(map_has_key($breakpoints, $bp)) {
    @if $dir == 'only' or $dir == 'down' {
      $bp-max: list-next($breakpoints, $bp);
    }

    $bp: map_get($breakpoints, $bp);
    $named-query: true;
  }
  @else {
    $bp: 0;
    @warn "breakpoint(): '#{$bp}' is not defined in the $breakpoints setting";
  }

  // Convert to em;
  $bp: -bp-to-em($bp);
  @if($bp-max) {
    $bp-max: -bp-to-em($bp-max);
  }

  @if $bp > 0em or $dir == 'only' or $dir == 'down' {
    @if $dir == 'only' {
      @if $named-query == true {
        @if($bp > 0em) {
          $output: $output + '(min-width: #{$bp})';

          @if $bp-max != null {
            $output: $output + ' and ';
          }
        }

        @if $bp-max != null {
          $output: $output + '(max-width: #{$bp-max})';
        }
      }

      @else {
        @warn 'breakpoint(): Only named media queries can have an `only` range.';
      }
    }

    @else if $dir == 'down' {
      $max: if($named-query, $bp-max, $bp);
      @if $named-query or $bp > 0em {
        @if $max != null {
          $output: $output + '(max-width: #{$max})';
        }
      }
    }

    @else if $bp > 0em {
      $output: $output + '(min-width: #{$bp})';
    }
  }

  @return $output;
}

@mixin breakpoint($breakpoint: small) {
  $str: breakpoint($breakpoint);

  @if $str == '' {
    @content;
  } @else {
    @media screen and #{$str} {
      @content;
    }
  }
}