$colors: (
        primary: ( base: #000000 ),
        secondary: ( base: #cccccc),
) !default;

@function __get_color_set($list, $name, $type: 'palette') {

  $set: if(map_has_key($list, $name), map_get($list, $name), false);

  @if $set == false {
    @error "Color " + $type + " `" + $name + "` does not exist";
  }

  @return $set;
}

@function color($name: primary, $swatch: base, $palette: $colors) {
  $set: __get_color_set($palette, $name);
  @return if(type_of($set) == 'map', __get_color_set($set, $swatch, 'swatch'), $set);
}

// Common colors
$primary-color: color(primary);
$secondary-color: color(secondary);