@function list-contains($list, $value) {
  @return (null != index($list, $value));
}

@function add-to-list($list, $value) {
  @return join($value, $list);
}

@function list-next($map, $key) {
  $values: map-keys($map);
  $i: 0;

  @if (map-has-key($map, $key)) {
    $i: index($values, $key) + 1;
  }

  @if ($i > length($map) or $i == 0) {
    @return null;
  }
  @else {
    @return map-get($map, nth($values, $i));
  }
}