@include keyframes(loader) {
  0% {
    left: rem-calc(-200);
    width: 10%;
  }

  30% {
    left: 0;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  100% {
    left: 100%;
    width: 30%;
  }
}

@include keyframes(loader--material-bars) {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.2);
  }

  40% {
    transform: scale(1);
  }
}

@include keyframes(loader--rotate) {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}