&__meta {
  margin-bottom: rem-calc(20);
  font-size: rem-calc(14);
  color: color(grey, medium);

  a {
    color: color(grey);
    font-weight: $font-weight-normal;
    @include hover-state {
      color: color(primary);
    }
  }

  &-item {

    &--categories {
      padding-left: rem-calc(32);
      position: relative;

      .icon-flag {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--share-buttons {
      padding: rem-calc(10 0);
      margin-bottom: rem-calc(10);

      .entry__meta-label {
        margin-right: rem-calc(8);
      }

      .button:not(:first-child) {
        margin-left: rem-calc(8);
      }
    }
  }
}

.post-categories {
  &, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:first-child):before {
      content: "|";
      display: inline-block;
      padding: rem-calc(0 6 0 4);
    }
  }
}