&__thumbnail {
  background-position: center center;
  background-size: cover;
  @include aspect-ratio(710, 300);

  &--none {
    display: none;
  }

  &-wrapper {
    margin-bottom: rem-calc(30);
  }
}

a.entry__thumbnail {
  @include not-a-text-link;
}