.widget {
  margin-bottom: rem-calc(30);

  &__title {
    font-weight: $font-weight-normal;
    color: color(grey);
  }

  ul {
    &, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &.widget_recent_entries {
    li {
      margin-bottom: rem-calc(8);
    }
  }

  &.widget_recent_comments {
    color: color(grey);
    font-size: rem-calc(14);

    li {
      margin-bottom: rem-calc(4);
      padding-bottom: rem-calc(4);
      border-bottom: 1px solid color(grey, lighter);
    }
  }
}