.field {
  $field-description-width: rem-calc(310);
  $field-gutter: rem-calc(20);
  $field-input-max-width: rem-calc(600);

  padding: $field-gutter ($field-gutter / 2);

  @include breakpoint(large) {
    padding-top: ($field-gutter + ($field-gutter * .5));
    padding-right: $field-gutter / 2;
    padding-bottom: ($field-gutter + ($field-gutter * .5));
    padding-left: ($field-description-width + ($field-gutter / 2));
    @include clearfix;
  }

  &-show {
    display: block;
  }

  &-hide {
    display: none;
  }

  &:not(.field-note):not(.field-save-button):not(.field-console) + .field {
    border-top: 1px solid color(grey, lighter);
  }

  &-console {
    padding: rem-calc(5) ($field-gutter / 2);
    text-align: right;

    a {
      font-size: 13px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-note {
    padding: ($field-gutter / 2) ($field-gutter / 2) $field-gutter ($field-gutter / 2);
  }

  &-save-button {
    padding: $field-gutter ($field-gutter / 2);

    & + .field-console {
      position: absolute;
      bottom: rem-calc(30);
      right: rem-calc(45);
      padding: 0;
    }
  }

  &-label-wrap {
    padding: rem-calc(0 0 10);

    @include breakpoint(large) {
      width: ($field-description-width - $field-gutter);
      margin-left: -($field-description-width);
      float: left;
    }
  }

  &-label,
  &-sub-label {
    display: block;
  }

  &-label {
    font-size: rem-calc(16);
    font-weight: bold;
    margin-bottom: rem-calc(4);
    line-height: 1;

    @include breakpoint(large) {
      font-size: inherit;
    }
  }

  &-sub-label {
    display: block;
    color: color(grey);
  }

  &-content-wrap {
    select {
      width: 100%;
      max-width: $field-input-max-width * .55;
    }

    @import "fields/inputs";
    @import "fields/switch";
    @import "fields/select";
    @import "fields/media-upload";
    @import "../options/components/fields/color-picker";

    p {
      margin-top: 0;
    }

    .description {
      margin: 0;
      font-size: rem-calc(12);
      padding-left: 1em;
      position: relative;

      &:before {
        @include css-triangle(top, color(grey, light), rem-calc(4));
        position: absolute;
        top: rem-calc(5);
        left: 0;
      }
    }

    .field {
      padding: 0;

      &-label-wrap {
        float: none;
        margin: rem-calc(0 0 14);
        padding: 0;
        width: 100%;
      }

      &-label {
        font-size: rem-calc(12);
      }

      &-sub-label {
        font-size: 12px;
        margin: rem-calc(-2 0 10 0);

        kbd, code {
          font-size: 10px;
          background: none;
          padding: 0;
          margin: 0;
        }
      }

      &-content-wrap {

      }
    }
  }

  &-columns {
    @include clearfix;
    margin-left: rem-calc(-10);
    margin-right: rem-calc(-10);
  }

  &-column {
    padding: rem-calc(10 0);
    @include prefix((box-sizing: border-box));

    @include breakpoint(large) {
      float: left;
      padding: rem-calc(0 10);

      @for $i from 1 through 12 {
        &-#{$i} {
          width: percentage($i / 12);
        }
      }
    }
  }
}