#poststuff [id*="mazloy-metabox"].postbox {

  .handlediv {
    color: color(white);
  }

  h2 {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    background: color(boxes);
    border-bottom: none;
    color: color(white);
  }

  .inside {
    padding: 0;
    margin: 0;
  }
}

.mazloy-quick-metabox {
  @include breakpoint(medium) {
    padding: rem-calc(0 20);
  }

  @import "fields";
}