input[type="text"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%;
  max-width: rem-calc(600);
  margin: rem-calc(0 0 10);
  height: $input-height;
  border-color: $input-border-color;
  @include box-shadow(rem-calc(0 1 1) rgba(color(black), 0.1));
  @include border-radius($input-border-radius);
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);

  &:focus {
    @include box-shadow(rem-calc(0 1 1) rgba(color(black), 0.3));
  }

  &::-webkit-input-placeholder {
    color: color(grey, light);
  }

  &::-moz-placeholder {
    color: color(grey, light);
  }
}

input[type="url"] {
  font-family: Consolas, Monaco, monospace;
  font-size: rem-calc(13);
}

input[type="number"] {
  max-width: rem-calc(200);
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="range"] {
  $size: rem-calc(40);
  display: inline-block;
  height: ($size / 2) - rem-calc(4);
  width: $size * 8;
  cursor: pointer;
  background: color(grey, lighter);
  color: color(grey);
  border: 1px solid rgba(color(black), 0.1);
  position: relative;
  outline: none;
  @include noselect;
  @include border-radius(rem-calc(10));
  @include box-shadow(inset rem-calc(0 1 1) rgba(color(black), 0.1));

  + span {
    display: inline-block;
    padding: rem-calc(2 4);
    @include border-radius($input-border-radius);
    margin-left: rem-calc(10);
    width: rem-calc(30);
    text-align: center;
  }

  &,
  &::-webkit-slider-thumb {
    @include prefix((appearance: none), webkit);
  }

  &::-webkit-slider-thumb {
    width: $size / 2;
    height: $size / 2;
    background: color(white);
    border: 1px solid color(grey, light);
    @include border-radius(50%);
    @include box-shadow(rem-calc(0 1 2) rgba(color(black), 0.2));

    &:hover {
      cursor: ew-resize;
    }

    &:active {
      @include box-shadow(rem-calc(0 1 2) rgba(color(black), 0.3));
    }
  }
}

textarea {
  min-height: rem-calc(120);
}