.mazloy-image-upload {
  .mazloy-image-preview {
    border: 1px solid color(grey, light);
    padding: rem-calc(6);
    margin-bottom: rem-calc(10);
    position: relative;
    background: color(white);
    background-image: -moz-linear-gradient(45deg, color(grey, light) 25%, transparent 25%),
                      -moz-linear-gradient(-45deg, color(grey, light) 25%, transparent 25%),
                      -moz-linear-gradient(45deg, transparent 75%, color(grey, light) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, color(grey, light) 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, color(grey, light)), color-stop(.25, transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, color(grey, light)), color-stop(.25, transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, color(grey, light))),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, color(grey, light)));

    background-size: 20px 20px;
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
    @include box-shadow(inset rem-calc(0 0 3) rgba(color(black), 0.5));

    img {
      max-width: 100%;
      display: block;
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      transition: all .3s ease;
    }

    &:after {
      content: attr(data-label-change);
      width: rem-calc(120);
      padding: rem-calc(10 16);
      background: color(grey, light);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.25);
      text-transform: uppercase;
      text-align: center;
      @include border-radius;
      @include box-shadow(0 1px 2px -1px rgba(color(black), 0.2));
    }

    &:before {
      content: " ";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color(grey, lighter);
    }

    &:hover {
      &:before {
        opacity: 0.5;
      }

      &:after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.mazloy-media-upload {
  p {
    margin: 0;
  }

  input[type="text"] {
    margin-top: 0;
    margin-right: rem-calc(5);
    height: rem-calc(39);
    max-width: rem-calc(400);
  }
}

.mazloy-image-upload,
.mazloy-media-upload {
  input[type="text"] {
    font-family: $mono-font-family;
    font-size: rem-calc(12);
  }
}