select {
  display: block;
  cursor: pointer;
  border-color: color(grey, light);
  background: color(white);
  background-image:
          linear-gradient(45deg, transparent 50%, color(grey) 50%),
          linear-gradient(135deg, color(grey) 50%, transparent 50%);
  background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;

  height: $input-height;
  line-height: 1;
  padding-left: $input-height / 3;
  padding-right: $input-height * .75;
  color: color(grey, dark);
  position: relative;
  @include border-radius($input-border-radius);
  @include box-shadow(rem-calc(0 1 1) rgba(color(black), 0.2));
  @include prefix((appearance: none));

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    text-shadow: 0 0 0 #000;
  }
}