.button-switch {
  $switch-size: rem-calc(40);

  padding: rem-calc(0 2);
  height: $switch-size + rem-calc(4);

  &, & *, & *:before, & *:after {
    @include border-box;
  }

  label {
    display: inline-block;
    height: ($switch-size / 2) - rem-calc(4);
    width: $switch-size;
    cursor: pointer;
    background: color(grey, lighter);
    color: color(grey);
    border: 1px solid rgba(color(black), 0.1);
    position: relative;
    @include noselect;
    @include border-radius(rem-calc(10));
    @include box-shadow(inset rem-calc(0 1 1) rgba(color(black), 0.1));

    &,
    &:after {
      @include transition(all .1s ease);
    }

    &:after {
      content: " ";
      display: inline-block;
      width: $switch-size / 2;
      height: $switch-size / 2;
      background: color(white);
      position: absolute;
      top: rem-calc(-3);
      left: rem-calc(-2);
      border: 1px solid color(grey, light);
      @include border-radius(50%);
      @include box-shadow(rem-calc(0 1 2) rgba(color(black), 0.2));
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ label {
      background: color(success, light);

      &:after {
        left: ($switch-size / 2);
      }
    }
  }
}