.back-to-top {
  $back-to-top-size: rem-calc(45);

  display: block;
  position: fixed;
  bottom: $back-to-top-size * .333333;
  right: $back-to-top-size * .333333;
  background: color(grey, lighter);
  width: $back-to-top-size;
  height: $back-to-top-size;
  @include border-radius;
  cursor: pointer;
  font-size: rem-calc(30);
  text-align: center;
  line-height: $back-to-top-size;
  opacity: 0.5;

  &, .mdi:before {
    transition: all .25s ease;
  }

  &:hover {
    ///background: color(primary);
    opacity: 1;

    .mdi:before {
      //color: color(white);
      transform: translateY(-7%);
    }
  }
}