.footer {
  background: color(grey, dark);

  &__widgets {
    padding: rem-calc(30 0);

    a {
      color: color(grey);
      &:hover,
      &:focus {
        color: color(grey, light);
      }

      &:active {
        color: color(grey, light)
      }
    }
  }

  .widget__title {
    color: color(white);
    font-size: rem-calc(14);
  }

  .widget {
    &.widget_recent_entries {
      li {
        border-bottom: 1px solid rgba(color(white), 0.1);
        padding: rem-calc(8 4);
        margin: 0;
      }
    }
  }

  &__copyright {
    background: scale_color(color(grey, dark), $lightness: -25%);
    padding: rem-calc(20 0 10);
    font-size: rem-calc(13);
  }

  p.copyright {
    margin: 0;
    color: color(grey);
  }
}