.header {
  $header_height: (
    small: rem-calc(50),
    medium: rem-calc(79) + rem-calc(30)
  );

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 22;
  height: map_get($header_height, small);

  @include breakpoint(medium) {
    height: map_get($header_height, medium);
  }

  @at-root {
    body {
      padding-top: map_get($header_height, small);
      @include breakpoint(medium) {
        padding-top: map_get($header_height, medium);
      }
    }
  }

  &--animate {
    @include transition(all .15s ease-in-out);
    @include prefix((transform: translateY(0)));
  }

  &--up,
  &--down {
    position: fixed;

    .header__utility {
      display: none;
    }

    .header__main {
      padding-top: rem-calc(5);
      padding-bottom: rem-calc(5);
    }

    .logo-wrapper {
      max-width: 80%;
    }
  }

  &--up {
    @include prefix((
      transform: translateY(-100%),
    ));
  }

  &--down {
    // border-bottom: 1px solid color('grey', darker);
    @include prefix((
            transform: translateY(0)
    ));
  }

  &__utility {
    background: color(primary);
    padding: 0;
    font-size: rem-calc(14);
    @include clearfix;

    a {
      &, &:visited {
        color: rgba(color(white), .7);
      }

      &:hover, &:active {
        color: color(white);
      }
    }
  }

  &__main {
    padding: rem-calc(16 0);
    background: color(white);
    @include box-shadow;
  }
}