.mazloy-loader {
  position: fixed;
  z-index: 9999;

  &--default {
    top: 0;
    left: 0;
    width: 100%;
    background: color(grey, lighter);

    &, .mazloy-loader__part {
      height: rem-calc(4);
    }

    .mazloy-loader__part {
      background: color(primary);
      width: 0;
      position: absolute;
      top: 0;
      left: rem-calc(-200);
      @include animation(animation-name(loader) 2s linear infinite)
    }

    .mazloy-loader__text {
      font-size: rem-calc(10);
      position: absolute;
      top: rem-calc(4);
      right: 0;
      bottom: auto;
      left: 0;
      margin: 0 auto;
      width: 0;
      text-align: center;
      line-height: 1;
      padding-top: rem-calc(3);
      color: rgba(#000000, 0.5);
    }
  }

  &--material-bars,
  &--material-bars-colors,
  &--circle-dot,
  &--circle-notch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--material-bars,
  &--material-bars-colors {
    $bar-width: 5;
    $bar-space: $bar-width - 1;
    $bar-height: ($bar-width * 5) - ($bar-width / 2);
    $box-width: ($bar-width * 5) + ($bar-space * 4);

    width: rem-calc($box-width);
    height: rem-calc($bar-height);

    .mazloy-loader__part {
      display: inline-block;
      width: rem-calc($bar-width);
      height: rem-calc($bar-height);
      background: color(primary);

      @include prefix((border-radius: rem-calc($bar-width)));
      @include animation(animation-name(loader--material-bars) 1.5s ease-in-out infinite);

      &:not(:nth-child(1)) {
        margin-left: rem-calc($bar-space);
      }

      @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
          $delay: (0.09 * ($i - 1));
          @include prefix((animation-delay: #{$delay + "s"}));
        }
      }
    }
  }

  &--material-bars-colors .mazloy-loader__part {
    $bar-colors: #3498db, #c0392b, #f1c40f, #27ae60;
    @each $color in $bar-colors {
      &:nth-child(#{index($bar-colors, $color)}) {
        background: #{$color}
      }
    }
  }

  &--circle-notch,
  &--circle-dot {
    &,
    .mazloy-loader__part {
      height: rem-calc(50);
      width: rem-calc(50);
    }
  }

  &--circle-notch &__part {
    height: rem-calc(50);
    width: rem-calc(50);
    border: rem-calc(6) solid color(primary);
    border-right-color: transparent;
    @include prefix((border-radius: 50%));
    @include animation(animation-name(loader--rotate) 1s infinite linear);
  }

  &--circle-dot &__part {
    border: 0 solid color(primary);
    @include prefix((
            border-radius: 50%,
            box-shadow: rem-calc(0 -14 0 20) color(primary) inset
    ));
    @include animation(animation-name(loader--rotate) 1s infinite linear);
  }
}

.mazloy-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 9998;
}

.mazloy-loader,
.mazloy-loader-overlay {
  opacity: 0;
  visibility: hidden;
  @include transition(visibility .25s ease-in-out, opacity .3s ease-in-out);
}

.mazloy-loader-enabled.mazloy-loader-show {
  .mazloy-loader,
  .mazloy-loader-overlay {
    opacity: 1;
    visibility: visible;
  }
}