.menu {
  margin: 0;
  padding: 0;
  @include flexbox;

  a {
    border-bottom: none;
  }

  &--horizontal {
    @include flex(0, 1, auto);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
  }

  &, &-item {
    list-style: none;
  }

  &-item {
    @include flex-grow(0);
    @include flex-shrink(0);
    position: relative;

    > a {
      display: block;
      padding: rem-calc(0 8);
      height: rem-calc(40);
      line-height: rem-calc(40);
    }

    &.menu-item-has-children {
      padding-right: rem-calc(20);

      > a {
        padding-right: 0;
      }

      .handle {
        position: absolute;
        top: 0;
        right: rem-calc(2);
        line-height: rem-calc(40);
      }

      &:hover {
        > .sub-menu {
          visibility: visible;
          opacity: 1;
          @include transform(translate(0, 0));
        }
      }
    }
  }

  //
  // Dropdowns
  // ---------------------------------------------------------------------------------

  .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: color(white);
    margin: 0;
    padding: 0;
    width: rem-calc(200);
    @include box-shadow(rem-calc(0 4 10) rgba(color(black), 0.3));
    @include transition(all .1s linear);
    @include prefix((transition-delay: .1s));

    &.sub-menu-level-0 {
      top: 100%;
      left: 0;
      @include transform(translateY(10%));

      .sub-menu {
        top: 80%;
        left: 50%;
        @include transform(translateX(10%));
      }
    }

    .menu-item {
      &, > a {
        @include transition(all .15s ease-in-out);
      }
      &:hover {
        &, > a {
          background: scale_color(color(primary), $lightness: 95%);
        }
      }

      > a:active {
        background: scale_color(color(primary), $lightness: 80%)
      }
    }
  }

  //
  // Header Utility Menu
  // ---------------------------------------------------------------------------------

  &--utility {
    @include justify-content(flex-end);

    .menu-item {

      &:not(:first-child) {
        border-left: 1px solid rgba(color(black), 0.1)
      }

      > a {
        height: rem-calc(30);
        line-height: rem-calc(30);
        font-size: rem-calc(12);
        transition: background .5s ease;
        border-bottom: none;

        @include hover-state {
          background: rgba(color(black), 0.1);
          color: color(white);
        }
      }
    }
  }

  //
  // Header Main Menu
  // ---------------------------------------------------------------------------------

  &--main {
    @include justify-content(flex-end);

    .menu-item {

      > a {
        color: color(grey, dark);
        padding-left: rem-calc(16);
        transition: all .35s ease;
        border-bottom: none;

        &:hover, &:active {
          color: color(primary);
        }
      }

      &:not(.menu-item-has-children) > a {
        padding-right: rem-calc(16);
      }
    }
  }

  //
  // Footer Copyright Menu
  // ---------------------------------------------------------------------------------
  &--copyright {
    margin-bottom: rem-calc(10);

    .menu-item {
      line-height: 1;

      > a {
        line-height: 1;
        height: auto;
        padding: 0;
        color: color(grey);
        display: inline-block;
        font-weight: $font-weight-normal;
        letter-spacing: rem-calc(.5);

        &:hover {
          color: color(grey, light);
        }
      }

      &:not(:first-child) {
        padding-left: rem-calc(8);
        border-left: 1px solid rgba(color(white), 0.1);
        margin-left: rem-calc(8);
      }
    }
  }
}