.slider {
  .slide {
    position: relative;

    &--dark {
      color: color(grey, dark);
    }

    &--light {
      color: color(white);
    }

    &__image {
      @include aspect-ratio(1400, 500);
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
      position: relative;
      z-index: 1;

      @each $align in (top, center, bottom) {
        &--bg-#{$align} {
          -ms-background-position-y: $align;
          background-position-y: $align;
        }
      }
    }

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &__caption {

    }

    &__heading {
      font-size: rem-calc(42);
    }

    .container, .row {
      height: 100%;
      min-height: 100%;
    }
  }
}

.slick {

  &-slider {
    position: relative;
    display: block;
    @include border-box;
    @include noselect;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }


  &-track,
  &-list {
    @include prefix((
            transform: translate3d(0, 0, 0)
    ), webkit moz ms o);
  }

  &-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &.dragging {
      cursor: hand;
    }
  }

  &-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include clearfix;

    .slick-loading & {
      visibility: hidden;
    }
  }

  &-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
      float: right;
    }

    &-loading img {
      display: none;
    }

    display: none;

    &.dragging img {
      pointer-events: none;
    }

    .slick-initialized & {
      display: block;
    }

    .slick-loading & {
      visibility: hidden;
    }

    .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
    }
  }

  &-arrow {
    $arrow-size: rem-calc(60);
    $arrow-wrapper-size: $arrow-size + rem-calc(20);

    position: absolute;
    display: block;
    height: $arrow-wrapper-size;
    width: $arrow-wrapper-size;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    @include transform(translate(0, -50%));
    padding: 0;
    border: none;
    outline: none;
    z-index: 99;

    &:after {
      display: none;
    }

    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;

      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }

    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }

    &:before {
      @include mdi-icon-base($arrow-size);
      color: $slick-arrow-color;
      opacity: $slick-opacity-default;
    }

    &.slick-hidden {
      display: none;
    }

    &.slick-prev {
      left: -($arrow-wrapper-size);

      &:before {
        content: $slick-prev-character;
      }
    }

    &.slick-next {
      right: -($arrow-wrapper-size);

      &:before {
        content: $slick-next-character;
      }
    }
  }

  &-slider:hover .slick-arrow {
    &.slick-next {
      right: rem-calc(20);
    }

    &.slick-prev {
      left: rem-calc(20);
    }
  }
}