.social-links {
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(nowrap);

  &--footer {
    @include justify-content(flex-end);
  }
}

.social-link {
  $social-link-size: rem-calc(30);

  @include flex-grow(0);
  @include flex-shrink(0);

  line-height: $social-link-size;
  width: ($social-link-size * .15) + $social-link-size;
  height: $social-link-size;
  text-align: center;
  font-size: $social-link-size * .54;
  transition: background .5s ease;
  color: rgba(color(white), 0.5);
  border: none;

  &:not(:first-child) {
    border-left: 1px solid rgba(color(black), 0.1)
  }

  @include hover-state {
    background: rgba(color(black), 0.1);
    color: color(white);
  }

  &__text {
    @include screen-reader-text;
  }

  &--footer {
    font-size: rem-calc(22);

    &:not(:first-child) {
      border-left: none;
    }

    @include hover-state {
      background: transparent;
    }
  }
}