.alignnone {
  margin: rem-calc(30 0 60 0);
}

.aligncenter {
  display: block;
  margin: rem-calc(30) auto rem-calc(60);
}

.alignright {
  float: right;
  margin: rem-calc(5 0 20 20);
}

.alignleft {
  float: left;
  margin: rem-calc(5 20 20 0);
}

.wp-caption {
  background: color(grey, lightest);
  padding: rem-calc(8 5 10);
  text-align: center;
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(60);
  font-size: rem-calc(12);
  color: color(grey, dark);
  max-width: 100%;

  &.alignnone {
    margin-left: 0;
    margin-right: 0;
  }

  &.alignleft,
  &.alignright {
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(5);
  }

  &.alignleft {
    margin-left: rem-calc(0);
    margin-right: rem-calc(20);
  }

  &.alignright {
    margin-left: rem-calc(20);
    margin-right: rem-calc(0);
  }

  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }

  .wp-caption-text {
    font-size: rem-calc(12);
    margin: 0;
  }
}