$colors: (
        white: #ffffff,
        black: #000000,
        primary: #e56125,
        secondary: #c49e0d,
        grey: (
                dark: #404040,
                base: #797979,
                medium: #9b9b9b,
                light: #d5d5d5,
                lighter: #efefef,
        ),
        boxes: (
                base: #114C7F,
                highlight: #114C7F,
        ),
        success: (
                light: #61d37c,
                base: #008000
        ),
        error: #da2400,
        warning: orange
);

$white: color(white);
$black: color(black);

$mono-font-family: Consolas, Monaco, monospaced;

$sidebar-width: rem-calc(260);

$input-height: rem-calc(39);
$input-border-radius: rem-calc(2);
$input-border-color: color(grey, light);