@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin screen-reader-text() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

@mixin icon ($which) {
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  content: $which;
}

@mixin prefix($declarations, $prefixes: webkit moz) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
}

@mixin box-shadow($shadows...) {
  $max: length($shadows);
  $box-shadows: '';

  @if $max < 1 {
    @include box-shadow(rem-calc(0 1 1) rgba(color(black), 0.1));
  }
  @else {

    @for $i from 1 through $max {
      $box-shadows: #{$box-shadows + nth($shadows, $i)};
      @if $i < $max {
        $box-shadows: #{$box-shadows + ", "};
      }
    }

    @include prefix((box-shadow: $box-shadows));
  }
}

@mixin border-radius($radius: rem-calc(2)) {
  @include prefix((border-radius: $radius));
}

@mixin aspect-ratio($width, $height, $parent: true, $display: block) {
  display: $display;
  height: 0;
  width: 100%;
  padding-bottom: percentage($height / $width);

  @if $parent == true {
    position: relative;
  }
}

@mixin scrollbars {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: color('grey', lighter);
    padding: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: color('grey', light);
    width: 90%;
  }
}

@mixin css-triangle($direction: top, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-direction($direction)}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

@mixin transition($properties...) {
  @include prefix((transition: $properties));
}

@mixin transform($properties...) {
  @include prefix((transform: $properties));
}

@mixin single-transition($transition: all 0.2s ease) {
  @include prefix((transition: $transition));
}

@mixin noselect {
  -webkit-touch-callout: none;
  @include prefix((
    user-select: none
  ), webkit khtml moz ms);
}

@mixin border-box {
  @include prefix((
          box-sizing: border-box
  ))
}

@mixin focus-state {
  &:focus,
  &.force-focus {
    @content;
  }
}
@mixin hover-state($focus: true) {
  &:hover,
  &:visited,
  &.force-hover {
    @content;
  }

  @if $focus {
    @include focus-state {
      @content;
    }
  }
}

@mixin active-state {
  &:active,
  &.force-active {
    @content
  }
}

@mixin not-a-text-link {
  border-bottom: none;
  @include hover-state {
    border-bottom: none;
  }

  @include active-state {
    border-bottom: none;
  }
}

@mixin respect-the-padding {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

@mixin sub-section-title {
  font-size: map_get($headers, h4);
  text-transform: uppercase;
  color: color(grey);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(30);
}

@mixin mdi-icon-base($font-size: $mdi-font-size-base) {
  display: inline-block;
  font-family: "#{$mdi-font-name}";
  font-size: $font-size;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}