$colors: (
  white: #ffffff,
  black: #111111,
  primary: #e56125,
  secondary: #3e597f,
  grey: (
    dark: #404040,
    base: #797979,
    medium: #9b9b9b,
    light: #d5d5d5,
    lighter: #efefef,
    lightest: #f5f6f5
  ),
  success: #008000,
  error: #ff0900
);

$white: color(white);
$black: color(black);

$base-font-size: 16px;
$base-line-height: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;

$body-font-family: 'Lato', Helvetia, Arial, sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-size: 100%;
$body-background-color: color(white);

// Links
$anchor-color: color(primary);
$anchor-color-hover: scale_color(color(primary), $lightness: 15%);
$anchor-color-visited: $anchor-color;
$anchor-color-focus: $anchor-color;
$anchor-color-active: $anchor-color;

// Font sizes for Headers 1-6
$headers: (
        h1: rem-calc(48),
        h2: rem-calc(36),
        h3: rem-calc(28),
        h4: 1 * $base-font-size,
        h5: 0.83 * $base-font-size,
        h6: 0.67 * $base-font-size
);

// Breakpoints
$breakpoints : (
  xsmall  : 0,              // All mobile
  small   : rem-calc(321),  // Larger phones
  medium  : rem-calc(640),  // iPad Portrait or iPad Mini
  large   : rem-calc(1024), // iPad landscape or 15" monitors +
  xlarge  : rem-calc(1200), // Larger laptops
  xxlarge : rem-calc(1440)  // Large or HD screens
);

// Grid
$grid-columns: 12;
$grid-max-width: rem-calc(1200);
$grid-gutter-width: rem-calc(16);
$grid-outer-margin: rem-calc(32);

// Slick Carousel
$slick-font-family: $mdi-font-family;
$slick-arrow-color: color(white);
$slick-dot-color: color(black);
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: mdi(chevron-left);
$slick-next-character: mdi(chevron-right);
$slick-dot-character: "\2022";
$slick-dot-size: rem-calc(6);
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;