.wp-picker-container {

  .wp-color-result {
    height: $input-height;
    padding-left: $input-height;
    //border: 1px solid $input-border-color;
    border: none;
    @include border-radius($input-border-radius);
    @include prefix((
      box-shadow: 0 1px 2px rgba(color(black), 0.2),
    ));

    &:after {
      line-height: $input-height;
      padding: rem-calc(0 10 0 8);
      border-left: 1px solid rgba(color(black), 0.05);
    }
  }

  input[type="text"].wp-color-picker {
    margin: rem-calc(0 10 0);
    height: $input-height;
    width: rem-calc(100);
    border-color: $input-border-color;
    box-shadow: none;
    @include border-radius($input-border-radius);
  }

  .iris-border {
    background: color(white);
  }

  .iris-picker {
    border: none;
    @include prefix((box-shadow: rem-calc(0 1 2) rgba(color(black), 0.2)));

    &,
    .iris-square,
    .iris-square-inner,
    .iris-palette {
      @include border-radius($input-border-radius);
    }

    .iris-slider,
    .iris-square-inner,
    .iris-palette {
      @include prefix((box-shadow: inset rem-calc(0 0 2) rgba(color(black), 0.2)));
    }
  }
}