.redux-typography-container {
  label {
    color: color(grey);
  }
}
input[type="text"] {
  height: $input-height;
  border-color: $input-border-color;
  @include prefix((
    box-shadow: rem-calc(0 1 2) rgba(color(black), 0.2)
  ));
  @include border-radius($input-border-radius);
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
}

.input-append {
  background: rgba(color(black), 0.025);
  border: 1px solid color(grey, light);
  @include border-radius($input-border-radius);
  @include prefix((
    box-shadow: rem-calc(0 1 2) rgba(color(black), 0.2)
  ));

  input[type="text"] {
    @include border-radius($input-border-radius 0 0 $input-border-radius);
    box-shadow: none;
    border: none;
  }

  .add-on {
    background: none;
    line-height: $input-height - rem-calc(8);
    text-shadow: none;
    border: none;
    color: rgba(color(black), 0.3);
    margin: 0;
    padding: rem-calc(0 0 0 8);
    @include border-radius(0 $input-border-radius $input-border-radius 0);
  }
}