$select2-border-radius: rem-calc(2);
$select2-height: $input-height - rem-calc(2);

.select2-container {
  .select2-choice {
    border-color: color(grey, light);
    background: color(white);
    height: $select2-height;
    line-height: $select2-height;
    padding-left: $select2-height / 3;
    color: color(grey, dark);

    @include prefix((
      border-radius: $select2-border-radius,
      box-shadow: rem-calc(0 1 1) rgba(color(black), 0.2)
    ));

    .select2-chosen {
      margin-right: $select2-height + ($select2-height / 2);
    }

    .select2-arrow {
      width: $select2-height / 1.5;
      background: rgba(color(black), 0.035);
      border: none;

      @include prefix((
        border-radius: 0 $select2-border-radius $select2-border-radius 0
      ));

      b {
        background: none !important;
        position: relative;

        &:after {
          content: " ";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid color(grey);
        }
      }
    }

    abbr {
      top: 50%;
      transform: translateY(-50%);
      right: $select2-height;
    }
  }


  &.select2-dropdown-open {
    .select2-choice {
      border: 1px solid color(grey, light);
      border-bottom: none;
      @include prefix((border-radius: $select2-border-radius 0 $select2-border-radius 0))
    }

    .select2-arrow {
      background: none;

      b:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid color(grey);
        border-top: none;
      }
    }
  }
}

@at-root {
  .admin-color-fresh {
    .select2-drop {
      &.select2-drop-active {
        border-top: none;
        &,
        &.select2-drop-above {
          border: 1px solid color(grey, light);
          border-radius: 0 $select2-border-radius 0 $select2-border-radius;
          padding: rem-calc(5 2);
        }

        &.select2-drop-above {

        }
      }
    }

    .select2-search {
      padding: rem-calc(5);

      input {
        border: 1px solid color(grey, light);
        height: 30px !important;
        background-position: 100% -22px !important;
        @include prefix((border-radius: $select2-border-radius));

        &:focus {
          border-color: scale_color(color(primary), $lightness: 50%, $saturation: -30%);
          box-shadow: none;
        }
      }
    }

    .select2-results {
      li {
        &.select2-highlighted {
          background: color(primary);
          color: color(white);
        }
      }

    }
  }

}