.switch-options {
  label {
    text-transform: uppercase;
    background: color(grey, lighter) !important;
    color: rgba(color(black), 0.3);
    border-color: color(grey, light) !important;
    @include prefix((
      box-shadow: #{inset rem-calc(0 0 2) rgba(color(black), 0.2), inset rem-calc(0 1 1) rgba(color(black), 0.2)}
    ));

    > span {
      font-weight: normal;
    }

    &.cb-disable {

    }

    &.selected {


      &.cb-disable {
        background: color(grey, lighter) !important;
        color: color(grey);
        border-color: color(grey, light) !important;
        @include prefix((box-shadow: inset rem-calc(0 1 0) color(white) !important));
      }

      &.cb-enable {
        background: color(primary) !important;
        border-color: scale_color(color(primary), $lightness: -10%) !important;
        color: color(white);
        @include prefix((box-shadow: inset rem-calc(0 1 0) rgba(color(white), 0.5) !important));
      }
    }
  }
}