#redux-header {
  background: color(grey, lighter);
  border-bottom: 10px solid color(grey, dark);
  z-index: 1;
  position: relative;

  .display_header {
    margin: rem-calc(10 10);
    height: rem-calc(35);
    width: rem-calc(448);
    background-image: image('logo-448x62.png');
    background-size: contain;
    background-repeat: no-repeat;

    h2 {
      @include screen-reader-text;
    }
  }

  .redux-dev-mode-notice-container {
    top: 50%;
    right: rem-calc(10);
    bottom: 0;
    left: auto;

    span.redux-dev-mode-notice {
      background: color(grey, dark);
      border-radius: 0;
      height: rem-calc(16);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
}