.redux-sidebar {
  $active-menu-item-color: color(black);

  width: $sidebar-width;
  border-top: 10px solid scale_color(color(grey, dark), $lightness: -20%);
  margin-top: rem-calc(-10);
  z-index: 2;
  position: relative;

  .redux-group-menu {
    > li {

      > a {
        border-bottom-color: scale_color(color(grey,dark), $lightness: -14%);
        color: color(white);
        opacity: 0.5;

        &:hover {
          background: scale_color(color(grey, dark), $lightness: -20%);
          color: rgba(color(white), 0.75);
          opacity: 1;
        }
      }

      &.active {
        > a {
          background: $active-menu-item-color;
          color: color(white);
          opacity: 1;
          width: $sidebar-width - rem-calc(18);
        }
      }

      &.activeChild {
        > a {
          background: color(grey, dark);
          color: color(white);
          opacity: 1;
        }

        &.hasSubSections {
          ul.subsection {
            li {
              > a {
                background: scale_color(color(grey, dark), $lightness: -20%);
                color: rgba(color(white), 0.5);

                &:hover {
                  background: scale_color(color(grey, dark), $lightness: -30%);
                  color: rgba(color(white), 0.75);
                }
              }
              &.active {
                > a {
                  background: $active-menu-item-color;
                  text-shadow: none;
                  color: color(white);

                  &:after {
                    right: -1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}