#redux-sticky {
  #info_bar {
    height: rem-calc(53);
    background: $white;
    border: none;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);;
    @include prefix((box-shadow: 0 1px 1px rgba(color(black), 0.2), box-sizing: border-box));


    .expand_options {
      border: none;
      background: color(grey, lighter);
      height: rem-calc(33);
      width: rem-calc(33);
      margin: 0;
      position: relative;

      &:before,
      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .25s ease;
      }

      &:before {
        width: rem-calc(3);
        height: rem-calc(18);
        left: 34%;
        background: color(grey, light);
      }

      &:after {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid color(grey, light);
        left: 50%;
      }

      &:hover {
        &:before {
          background-color: color(grey);
          left: 25%
        }
        &:after {
          border-right-color: color(grey);
          left: 40%;
        }
      }
    }
  }

  .notice-red,
  .notice-green,
  .notice-yellow {
    padding: rem-calc(10);
    text-shadow: none;
    background: color(white);
    margin: rem-calc(6 6 0);
    color: color(grey, dark);
    border: none;

    > strong {
      font-weight: normal;
    }
  }

  .notice-green {
    @include prefix((
            box-shadow: #{inset 0 rem-calc(3) 0 0 color(success), rem-calc(0 1 2) rgba(color(black), 0.2)}
    ));
  }

  .notice-yellow {
    @include prefix((
            box-shadow: #{inset 0 rem-calc(3) 0 0 color(warning), rem-calc(0 1 2) rgba(color(black), 0.2)}
    ));
  }

  .notice-red {
    @include prefix((
            box-shadow: #{inset 0 rem-calc(3) 0 0 color(error), rem-calc(0 1 2) rgba(color(black), 0.2)}
    ));
  }
}

.expand #redux-sticky #info_bar .expand_options {
  &:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid color(grey, light);
    border-right: none;
    left: 50%;
  }

  &:hover {
    &:after {
      border-left-color: color(grey);
      left: 60%;
    }

    &:before {
      left: 43%
    }
  }
}

#redux-footer-sticky {

  #redux-footer {
    height: 33px;
    padding-top: 10px;
    padding-bottom: 10px;

    &,
    &.sticky-footer-fixed {
      background: color(white) !important;
      border: none !important;
      @include prefix((
        box-shadow: 0 -1px 2px rgba(color(black), 0.15)
      ))
    }
  }

  #redux-share {
    a {
      color: color(grey);

      &:hover {
        color: color(primary);
      }
    }
  }

}